.login-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    margin-top: -30px;
    height: 400px;
    width: 250px;
}

.login-header {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    width: 225px;
    justify-content: space-between;
    margin-bottom: -20px;
    /* background-color: green; */
}

.login-text {
    font-size: 30px;
    margin-bottom: -20px;
    margin-bottom: 20px;
}

.login-errors {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-top: 3em;
}

.open-modal-button {
    height: 30px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    width: 225px;
}

.login-email-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.login-password-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-submit-button {
    margin-bottom: 10px;
}

.or-text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.demo-user-button {
    background-color: rgb(123, 188, 253);
    color: white;
    /* width: 200px; */
    box-shadow: 1px 1px 1px 1px black;
    /* margin-top: 1.5em; */
}

.demo-user-button:hover {
    cursor: pointer;
    background-color: rgb(44, 138, 232);
}

.login-submit-button {
    background-color: rgb(123, 188, 253);
    color: white;
    /* width: 200px; */
    box-shadow: 1px 1px 1px 1px black;
    /* margin-top: 1.5em; */
}

.login-submit-button:hover {
    cursor: pointer;
    background-color: rgb(44, 138, 232);
}
