.search-results-header{
    font-family: 'Fugaz One';
    color: rgb(44, 138, 232);
    padding-left: 5.5em;

}

.no-search-results{
    color: orange;
    font-family: 'Fugaz One';

    font-weight: bold;
    margin-left: 2em;
}

.search-empty-cup-image {
    margin-left: 5rem;
    margin-top: 2rem;
    width: 17em;
}
