.store-product-container{
    display: flex;
    flex-wrap: wrap;
    gap: .45rem;
}

.store-product-card{
    background-color: rgb(241, 241, 241);
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black
}

.store-product-image{
    width: 190px;
    height: 250px;
    object-fit: cover;
}

.store-product-name{
    color: rgb(44, 138, 232);
    padding-left: .5rem;
    overflow: hidden;
    max-width: 190px;
    /* padding-right: 5px; */
}

.store-delete-button, .store-edit-button{
    border: none;
    color: gray;
    cursor: pointer;
}

.store-product-link{
    text-decoration: none;
    color: black;
}

.fa-pen{
    text-decoration: none;
    color: gray
}

.product-edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    gap: .5rem;
}
