.new-review-container {
    width: 500px;
    border-radius: 20px;
    border-color: 10px solid black;
    height: 350px;
}

.title-header {
    display: flex;
    justify-content: center;
}

.review-text-box {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    resize: none;
}

.review-cups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    font-size: 50px;
    color: #2c8ae8;
}

.cups {
    margin-left: 5px;
}

#review-button-disabled {
    background-color: gray;
    width: 300px;
    box-shadow: 1px 1px 1px 1px black;
}

#review-button-enabled {
    background-color: rgb(44, 138, 232);
    color: white;
    width: 300px;
    box-shadow: 1px 1px 1px 1px black;
}

#review-button-enabled:hover {
    cursor: pointer;
    background-color: rgb(44, 138, 232);
}

.fa-solid.fa-wine-glass-empty {
    color: #2c8ae8;
    font-size: 50px
}

.fa-solid.fa-wine-glass {
    color: #2c8ae8;
    font-size: 50px
}
