/* TODO Add site wide styles */
button {
    cursor: pointer;
}

* {
    font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 428px){
    .all-content{
        display: none;
    }
    .mobile-text{
        display: block;
    }
}

@media screen and (min-width: 429px){
    .mobile-text{
        display: none;
    }
}
