.delete-cart-item-container {
    height: 175px;
    width: 400px
}

.delete-cart-item-title {
    text-align: center;
}

.delete-cart-item-text {
    text-align: center;
}

.delete-cart-item-submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#yes-delete {
    width: 175px;
    text-align: center;
    background-color: #54a7fa;
    color: white;
    font-weight: bold;
}

#yes-delete:hover{
    background-color: #2c8ae8;
    cursor: pointer;
}

#no-keep {
    background-color: #54a7fa;
    margin-left: 10px;
    width: 175px;
    color: white;
    font-weight: bold;
}

#no-keep:hover {
    background-color: #2c8ae8;
    cursor: pointer;
}
