.profile-dropdown {
  position: absolute;
  right: 6.5em;
  margin-top: .5em;
  z-index: 1;
  background-color: white;
  width: 8em;
  border: 1px solid black;
  border-radius: 10px;
}

.logo {
  display: flex;
}

.profile-dropdown-content {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 1em
}

.blue-lagoon-logo {
  height: 55px;
}

.manage-reviews-link{
  color:black;
  text-decoration: none;
}

.manage-reviews-link:hover {
  color: rgb(44, 138, 232);
  text-decoration: underline;
  font-weight: bold;
}

.hidden {
  display: none;
}

.home-link{
  text-decoration: none;
  font-family: 'Fugaz One';
  /* font-family: 'Darumadrop One', cursive;
  font-family: 'Montserrat', sans-serif; */
  font-size: 50px;
  color: rgb(44, 138, 232)
}

.store-button{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 3.2rem
}

.navbar-bottom-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%
}

.navbar-icons{
  display: flex;
  flex-direction: row;
  gap: 2rem
}


.fa-shop, .fa-cart-shopping, .fa-user-circle {
  font-size: 17px;
  color:rgb(44, 44, 44)
}
.sign-in-button {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

@media (min-width: 901px) {

}

.shopping-cart-button{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.cart-count {
  top: -8px;
  right: -8px;
  background-color: rgb(44, 138, 232);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 15px;
}
