.shop-review-image {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 1em;
}
.shop-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
}
.shop-reviews-child {
  display: flex;
  flex-direction: row;
  background: rgb(248, 247, 247);
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
.review-text {
  font-family: "Lato", sans-serif;
}
.shop-reviews-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 10rem;
}
.rating-date{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1rem;
}
.shop-ratings {
    display: flex;
    gap: .5rem;
}

.shop-update-delete{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

#shopDelete{
    background-color: green;
}

.shop-date{
    font-family: "Lato", sans-serif;
}

.fa-solid.fa-wine-glass.c-manage-reviews {
  font-size: 20px;
  padding-top: 0.5em;
}
