.edit-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-product-photo {
    height: 540px;
    width: 500px;
}

.edit-product-header {
    font-family: 'Fugaz One';
    color: rgb(44,138,232);
    margin-bottom: 50px;
    margin-top: 50px;
}

.edit-product-photo-form {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.edit-product-form-container {
    display: flex;
    /* height: 600px; */
    width: 329px;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* gap: 2rem */
}

.edit-product-label {
    font-weight: bold;
    font-size: 25px;
}

.edit-product-submit-button {
    width: 329px;
    background-color: #54a7fa;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px black;
    align-items: center;
}

.edit-submit-button-container {
    margin-top: 25px;
}

.edit-product-submit-button:hover {
    cursor: pointer;
    background-color: #2c8ae8;
}

.edit-product-errors {
    font-weight: bold;
    color: red;
    font-size: 15px;
}

.edit-product-input {
    width: 329px;
    height: 25px
}

.edit-product-description-field {
    width: 329px;
}
